#!/usr/bin/make -f

export DH_VERBOSE = 1
export GOPROXY = https://proxy.golang.org,direct
export GO111MODULE = on
export CGO_ENABLED = 0

%:
	dh $@

override_dh_auto_build:
	go build -ldflags "-s -w -X main.version=$(shell dpkg-parsechangelog -S Version)" -o kartoza-screencaster .

override_dh_auto_install:
	install -D -m 0755 kartoza-screencaster debian/kartoza-screencaster/usr/bin/kartoza-screencaster
	install -D -m 0644 resources/kartoza-screencaster.desktop debian/kartoza-screencaster/usr/share/applications/kartoza-screencaster.desktop
	install -D -m 0644 resources/icon_ready.svg debian/kartoza-screencaster/usr/share/icons/hicolor/scalable/apps/kartoza-screencaster.svg

override_dh_auto_test:
	go test -v ./...

override_dh_auto_clean:
	rm -f kartoza-screencaster
	go clean
