[Desktop Entry]
Name=Kartoza Screencaster
Comment=Screen recording tool for Wayland
GenericName=Screen Recorder
Exec=kartoza-screencaster systray
Icon=kartoza-screencaster
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;
Keywords=screen;recording;video;wayland;hyprland;capture;
StartupNotify=false
